html{
    height: 100%;
    font-size: calc(10px + .8vmin);
}
body{
    height: 100%;
}

.formStyle{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    background-color: #f5f5f5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.formItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: .5rem;
}

.itemLablel{
    padding-bottom: .1rem;
}